<!DOCTYPE html>
<html>
<head>
  <title>Chá de Casa Nova - Renata e Roberto</title>
  <%= stylesheet_link_tag "reset", "css3buttons", "template-grunge" %>
  <%= javascript_include_tag :defaults, "jquery.min", "jquery_ujs" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
